body {
  background-color: #282725;
  color: #FF9A3C;
}


form input {
  background: transparent;
  color: #FFBC2C;
  border: 2px solid #FFBC2C;
  border-radius: 8px;
  font-size: 30px;
  width: 100%;
}

button {
  background: transparent;
  color: #86B86B;
  border: 2px solid #86B86B;
  border-radius: 8px;
  font-size: 30px;
  width: 100%;
}


#to-do-details {
  display: none;
}

#to-do-item {
  cursor: pointer;
  color: #ECECEC;
  font-size: 30px;
}

.jumbotron {
  background-image: url('../images/todolist.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

h1, h3{
  color: #86B86B;
}

.to-do {
  display: none;
}

.strike-thru {
  text-decoration: line-through;
  color: #FF9A3C;
}

.margin {
  margin-top: 60px;
}

.no-task {
  display: none;
}
